<!DOCTYPE html>
<html lang="en" xmlns :th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Condition check <span th:style="${isActive} ? 'color: green' : 'color : red' "  
                          th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE' "></span></h1>


    <h1 th:if="${gender}=='M'">Male</h1>
    <h1 th:unless="${gender}=='M'" th:style="'color:pink'">Female</h1>


    <div th:switch="${#lists.size(mylist)}">
        <h3 th:case="'0'">List contains 0 element </h3>
        <h3 th:case="'1'"> List contains 1 element</h3>
        <h3 th:case="*">List contains more than 1 elements</h3>

    </div>

</body>
</html>